<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%- title %></title>
    <meta name="description" content="<%- description %>">
      
    <link href="/assets/styles/style.css" type="text/css" rel="stylesheet">
    
  </head>

  <body class="<%- bodyClass %>">
    <%- partial(header) %>
    <main><%- yield %></main>
    <%- partial(footer) %>

    <!-- Scripts: -->
    <% jsFiles.forEach(function(js) { %>
      <script src="/assets/js/<%= js %>.js"></script>
    <% }); %>
    <script src="/assets/js/main.js"></script>

  </body>
</html>