<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/assets/fav.png">
    <title><%- title %></title>
    <meta name="description" content="<%- description %>">

    <!-- Mobile metatags -->
    <meta name="theme-color" content="#ffffff" />
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, minimal-ui'>

    <!-- FB metatags -->
    <meta property="og:title" content="<%- title %>" />
    <meta property="og:description" content="<%- description %>" />
    <meta property="og:site_name" content="<%- siteName %>"/>
    <meta property="og:url" content="<%- siteUrl %>" />
    <meta property="og:image" content="<%- siteUrl %>/assets/img/fb-preview.png" />
      
    <link href="/assets/styles/style.css" type="text/css" rel="stylesheet">
    
  </head>

  <body class="<%- bodyClass %>">
    <%- partial(header) %>
    <main><%- yield %></main>
    <%- partial(footer) %>

    <!-- Scripts: -->
    <% jsFiles.forEach(function(js) { %>
      <script src="/assets/js/<%= js %>.js"></script>
    <% }); %>
    <script src="/assets/js/main.js"></script>

  </body>
</html>